.container {
    margin: 0 auto;
    width: 595px;
    height: 842px; 
    border: 2px solid grey; 
}
.header {
    width: 595px;
height: 200px;
flex-shrink: 0;
    background-image: url(../img/background.svg);
    // background-color: aqua;
}
.main {
    width: 100%;
    margin: 32px;
}
.footer {
    width: 100%;
    margin: 32px;
}