body{
    // font-family: Poppins;
}
.container {
    margin: 0 auto;
    width: 595px;
    height: 850px; 
    border: 2px solid grey; 
}
.header {
    display: flex;
    font-family: 'Poppins', sans-serif;
font-family: 'Prata', serif;
    width: 595px;
height: 200px;
flex-shrink: 0;
    background-image: url(../img/background.svg);
    // background-color: aqua;
    .header__logo {
        border-radius: 50%;
        width: 104px;
height: 104px;
flex-shrink: 0;
    }
    .header__margin{
        margin: 40px 40px 0px;
        display: block;
    }
    .header__about {
    }
    .about {
    }
    .about__proffession {
        margin-top: 20px;
        color: #CA6D18;
font-family: Prata;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
    }
    .about__name {
        color: #222;
font-family: Prata;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 42px */
    }
    .about__username {
        color: #222;
font-family: Prata;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 42px */
    }
    .contacts{
        color: #222;
font-family: Prata;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 140% */
text-decoration-line: underline;
    }
    .header__contacts {

    }
    .contacts {
        a{
            display: block;
            margin-bottom: 8px;
        }
    }
    .contacts__email {
    }
    .contacts__linkedin {
    }
    .contacts__phone {
    }
}
.main {
    width: 100%;
    margin: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    .main__col1 {
    }
    .col2 .article__subtitle{
        width: 50px;
    }
    .col__title {
        color: #CA6D18;
font-family: Prata;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
    }
    .main__col2 .article__subtitle{
        width: 80%;
    }
    
    .article__title {
        color: #222;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Prata;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
    }
    .article__subtitle {
        color: #797979;
font-family: Prata;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 145.455% */
    }
    .article__description {
        font-family: Poppins;
        color: #000000;
font-size: 10px;
    }
}
.footer {
    width: 100%;
    margin: 32px;
    .foter__cols{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .col__title{
        color: #CA6D18;
font-family: Prata;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
    }
    .cols-foter{
        color: #222;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 140% */
width: 70%;
    }
}